/* .Menu { 
	display: grid;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    padding-top: 30px;

} */
.Menu{
    display: flex;
        justify-content: center;
        align-items: center;
}
.Menu>*{
    margin: 10px;
} 
a{
    color: black;
    text-decoration: none;
    font-size: 26px;
}
a:hover{
    color: blue;
    text-decoration: underline;
    font-size: 30px;
}
