
.App {
  /* background-color: aqua; */
  height: 100%;
  width: 100%;
  display: grid;
  /* grid-template-rows: 10% 20% 70%; */
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  
}

.App>.Header {
  /* background-color: yellow; */
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  grid-column: 12 span;
  grid-row: 1 span;
  border: 2px solid black;
}

.App>.Menu {
  /* background-color: pink; */
  grid-column:2 span;
  grid-row: 10 span;
  display:grid; 
  border: 2px solid black;
  
}

.App>.Main {
  /* background-color: green; */
  grid-column: 10 span;
  grid-row: 10 span;
  align-items: center;
  border: 2px solid black;
}

.App>.Footer {
  /* background-color: orangered; */
  grid-column: 12 span;
  grid-row: 1 span;
  font-size: 24px;
  display:flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

